.board-detail {
    .header-board {
        .title {
            font-weight: 200;
        }
    }

    .columns {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .columns-board {
            display: flex;
            flex-direction: row;
            margin-right: 15px;
        }
    }
}
