.board-detail{
    margin-top: 20px;

    .header-board{
        display: flex;

        .title{
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        .form-new-column{
            display: flex;

            .form-field{
                margin-bottom: 0;
            }
        }
    }
 
    .columns{  
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .columns-board{
            display: flex;
            flex-direction: row;
            margin-right: 15px;
        }
    }
}