.config-section{
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    backdrop-filter: blur(2rem);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    .menu{                

        ul{
            
            li{
                background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
                backdrop-filter: blur(2rem);
                margin-bottom: 15px;
                list-style: none;

                a{
                    display: block;
                    padding: 10px 20px;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    .teams{
        display: flex;
        flex-direction: row;        

        .team{
            background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
            backdrop-filter: blur(2rem);
            color: $gray-dark;
            width: 25%;
            margin-right: 10px;
            padding: 10px 15px;

            a{
                display: block;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}