.config {
    .menu {
        ul {
            li {
                margin-bottom: 15px;
                list-style: none;

                a {
                    color: $blue;
                    text-decoration: none;
                    display: block;
                    font-weight: 800;
                    padding: 7px 15px;
                    font-size: 14px;
                    transition: all 0.7s ease;

                    &.active {
                        color: $orange;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .bg-white {
        background-color: #fff;
        border: 1px solid #eee;
        box-shadow: 1px 1px 1px #eee;
    }

    .teams {
        display: flex;
        flex-direction: row;

        .team {
            width: 25%;
            margin-right: 10px;
            background-color: #f3f3f3;

            a {
                padding: 10px 15px;
                display: block;
                text-decoration: none;
                color: $blue;
                font-weight: 600;
                text-align: center;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
