* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444f5a;
  background-color: #ffc8c8;
}

.vh-100 {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border: 1px solid #444f5a;
  padding: 10px 15px;
  background: #444f5a;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.bg-gray-light {
  background-color: #444f5a;
}

.bg-gray-dark {
  background-color: #3e4149;
}

.no-scroll {
  overflow: hidden;
}

.alert {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
  padding: 8px 13px;
  border: 1px solid;
  margin-bottom: 10px;
}
.alert.alert-error {
  background-color: #f8d7da;
  color: #f8d7da;
  border-color: #f5c2c7;
}
.alert.alert-warning {
  background-color: #fff3cd;
  color: #664d03;
  border-color: #ffecb5;
}
.alert.alert-success {
  background-color: #d1e7dd;
  color: #0f5132;
  border-color: #badbcc;
}

.dropdown .dropdown-content {
  display: none;
  background: #fff;
  padding: 15px 0px;
  position: absolute;
  z-index: 1;
  min-width: 300px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
  border: 1px solid rgba(9, 30, 66, 0.13);
}
.dropdown .dropdown-content .title {
  text-align: center;
  color: #3e4149;
}
.dropdown .dropdown-content .separator {
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  margin: 15px 0;
}
.dropdown .dropdown-content ul li {
  list-style: none;
}
.dropdown .dropdown-content ul li a {
  color: #3e4149;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-weight: bold;
}
.dropdown .dropdown-content ul li a:hover {
  opacity: 0.7;
}
.dropdown .dropdown-content ul li a.delete {
  color: #842029;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 1s ease;
}
.dropdown .dropdown-content ul li a.delete:hover {
  opacity: 0.7;
  transition: all 1s ease;
  background-color: #f8d7da;
  border-top: 1px solid #f5c2c7;
  border-bottom: 1px solid #f5c2c7;
}

.focus-edit-content {
  cursor: pointer;
}

.container-modal {
  background-image: url(/images/bg-opacity-80.png?0ab68fc752686ea65509500361163362);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  display: none;
  z-index: 2;
}
.container-modal .modal {
  display: none;
  min-width: 300px;
  max-height: 85%;
}
.container-modal .modal-header {
  text-align: right;
}
.container-modal .modal-header .modal-close {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
}
.container-modal .modal-body {
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
  max-height: 96%;
  overflow: auto;
}

.form {
  width: 100%;
}
.form .form-field {
  margin-bottom: 10px;
}

.input {
  border: 1px solid #444f5a;
  padding: 10px 15px;
  width: 100%;
  display: block;
  color: #444f5a;
}

input[readonly] {
  background-color: #eee;
}

.login .brand {
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  font-size: 48px;
  letter-spacing: 2.5px;
  color: #fff;
}
.login .brand .brand-sub {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.login .container-login {
  height: 100vh;
  display: flex;
  align-items: center;
}
.login .access {
  width: 50%;
  max-width: 400px;
}
.login .text {
  margin-bottom: 30px;
  text-align: center;
  line-height: 25px;
}

header {
  background-color: #3e4149;
  color: #fff;
  padding: 15px 0;
}
header .menu, header .settings {
  font-weight: 400;
  letter-spacing: 1.5px;
}
@media (max-width: 800px) {
  header .menu {
    text-align: center;
  }
}
header .brand {
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
  letter-spacing: 2.5px;
}
header .brand a {
  color: #fff;
  text-decoration: none;
  transition: all 1s ease;
}
header .brand a:hover {
  opacity: 0.7;
  transition: all 1s ease;
}
header .settings {
  text-align: right;
}
@media (max-width: 800px) {
  header .settings {
    text-align: center;
  }
}
@media (max-width: 800px) {
  header .menu, header .brand {
    margin-bottom: 10px;
  }
}

.board-list .board-menu li {
  list-style: none;
  margin-bottom: 10px;
}
.board-list .board-menu li:hover {
  transition: background-color 0.7s ease;
  background-color: #ff9999;
  opacity: 0.7;
}
.board-list .board-menu li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px;
  font-size: 16px;
}
.board-list .boards .board-title {
  margin-bottom: 15px;
}
.board-list .boards .itens {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 800px) {
  .board-list .boards .itens {
    flex-direction: column;
  }
}
.board-list .boards .board {
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .board-list .boards .board {
    width: 100%;
  }
}
.board-list .boards .board a {
  background-color: #ff9999;
  padding: 40px 25px;
  color: #3e4149;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.board-list .boards .board a:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.board-detail {
  margin-top: 20px;
}
.board-detail .header-board {
  display: flex;
}
.board-detail .header-board .title {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.board-detail .header-board .form-new-column {
  display: flex;
}
.board-detail .header-board .form-new-column .form-field {
  margin-bottom: 0;
}
.board-detail .columns {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.board-detail .columns .columns-board {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}
.board-detail .columns .column {
  width: 300px;
  background-color: #3e4149;
  padding: 15px 10px;
  margin-right: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.board-detail .columns .column .column-header {
  display: flex;
  flex-direction: row;
}
.board-detail .columns .column .column-header .column-title {
  width: 90%;
  display: flex;
  align-items: center;
}
.board-detail .columns .column .column-header .column-title h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.board-detail .columns .column .column-header .column-title input {
  width: 100%;
  padding: 10px 15px;
}
.board-detail .columns .column .column-header .column-actions {
  width: 10%;
}
.board-detail .columns .column .column-header .column-actions .column-menu {
  color: #444f5a;
  font-size: 19px;
  padding: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-detail .columns .column .column-header .column-actions .column-menu:hover {
  color: #3e4149;
  background-color: #444f5a;
}
.board-detail .columns .column:last-child {
  margin-right: 0;
}
.board-detail .columns .column .new-column {
  color: #fff;
  text-decoration: none;
  display: block;
}
.board-detail .columns .column .form-new-card {
  margin-top: 15px;
}
.board-detail .columns .column .cards .card {
  margin-top: 15px;
}
.board-detail .columns .column .cards .card h4 {
  background-color: #444f5a;
}
.board-detail .columns .column .cards .card h4 a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 15px 10px;
}

.card-detail {
  width: 800px;
}
.card-detail .title, .card-detail .section-date, .card-detail .checklist, .card-detail .mt-default, .card-detail .title-section, .card-detail .checklist-title-section {
  margin-bottom: 25px;
}
.card-detail .title {
  font-size: 24px;
}
.card-detail .title-section {
  font-size: 16px;
}
.card-detail .btn {
  width: 100%;
  margin-bottom: 10px;
}
.card-detail .checklist .checklist-title-section {
  height: 37px;
}
.card-detail .checklist .checklist-title-section .checklist-title {
  font-size: 16px;
}
.card-detail .checklist .checklist-title-section .mt-default {
  margin-bottom: 0;
}
.card-detail .checklist .checklist-destroy, .card-detail .checklist .checklist-item-destroy {
  margin-left: 15px;
}
.card-detail .checklist .checklist-item {
  margin-bottom: 15px;
  height: 37px;
}
.card-detail .checklist .checklist-item .checklist-item-content {
  width: 100%;
}
.card-detail .checklist .checklist-item .checklist-item-finished {
  margin-right: 15px;
}
.card-detail .checklist .checklist-item .input {
  margin-bottom: 0;
}
