@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Light.ttf?ed41bedf131bc097372a961dbec109a1) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-LightItalic.ttf?0e63c9e707bdfbcda3077baa43a7484a) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf?1b0809d519837cb7aad36a73433f655c) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Italic.ttf?20653d2fac6285bf4deac9919fcb434d) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiBold.ttf?a16d8201b06a03c6c365341748a5cba0) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-SemiBoldItalic.ttf?63afadbae2f41f427a56754abd54f461) format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Bold.ttf?dbb97fd982ce1b96b6de90a9f1c2ecaa) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-BoldItalic.ttf?9572470e485d8e0fd2adc5b2559bb072) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Bold.ttf?dbb97fd982ce1b96b6de90a9f1c2ecaa) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-BoldItalic.ttf?9572470e485d8e0fd2adc5b2559bb072) format("truetype");
  font-style: italic;
  font-weight: 800;
}
*:focus {
  box-shadow: none !important;
}

.form-control {
  font-size: 14px;
}
.form-control:focus {
  border-color: #ced4da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  background: #eeeeee;
  background: linear-gradient(225deg, #eeeeee 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#ffffff",GradientType=1);
}

header {
  background-color: #FF6700;
  color: #fff;
  padding: 15px 0;
}
header .menu,
header .settings {
  font-weight: 400;
  letter-spacing: 1.5px;
}
header .brand {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.5px;
}
header .settings {
  text-align: right;
}
@media (max-width: 800px) {
  header .settings {
    text-align: center;
  }
}
header a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
header a:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
}
@media (max-width: 800px) {
  header .menu {
    text-align: center;
  }
  header .menu,
header .brand {
    margin-bottom: 10px;
  }
}

.board-list .board-menu li {
  list-style: none;
  transition: all 0.7s ease;
  margin-bottom: 10px;
}
.board-list .board-menu li :last-child {
  margin-bottom: 0;
}
.board-list .board-menu li:hover a {
  color: #f54748;
  background-color: #f5e6ca;
  transition: all 0.7s ease;
}
.board-list .board-menu li a {
  color: #343f56;
  text-decoration: none;
  display: block;
  font-weight: 800;
  padding: 7px 15px;
  font-size: 14px;
}
.board-list .board-menu li a.active {
  color: #f54748;
  background-color: #f5e6ca;
}
.board-list .boards .board-title {
  color: #343f56;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 800;
}
.board-list .boards .itens {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .board-list .boards .itens {
    flex-direction: column;
  }
}
.board-list .boards .board {
  width: 25%;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #fff;
}
@media (max-width: 800px) {
  .board-list .boards .board {
    width: 100%;
  }
}
.board-list .boards .board a {
  color: #343f56;
  padding: 40px 25px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #eee;
}
.board-list .boards .board a:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}
