* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444f5a;
  background-color: #ffc8c8;
}

main {
  margin-top: 30px;
}

.vh-100 {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border: 1px solid #444f5a;
  padding: 10px 15px;
  background: #444f5a;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.bg-gray-light {
  background-color: #444f5a;
}

.bg-gray-dark {
  background-color: #3e4149;
}

.no-scroll {
  overflow: hidden;
}

.container-modal {
  background-image: url(/images/bg-opacity-80.png?0ab68fc752686ea65509500361163362);
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  display: none;
  z-index: 2;
}
.container-modal .modal {
  display: none;
  min-width: 300px;
}
.container-modal .modal-header {
  text-align: right;
}
.container-modal .modal-header .modal-close {
  border: none;
  background: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
}
.container-modal .modal-body {
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
}

.form {
  width: 100%;
}
.form .form-field {
  margin-bottom: 10px;
}
.form .form-field .input {
  border: 1px solid #444f5a;
  padding: 10px 15px;
  width: 100%;
  display: block;
  color: #444f5a;
}

.login .brand {
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  font-size: 48px;
  letter-spacing: 2.5px;
  color: #fff;
}
.login .brand .brand-sub {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.login .container-login {
  height: 100vh;
  display: flex;
  align-items: center;
}
.login .access {
  width: 50%;
  max-width: 400px;
}
.login .text {
  margin-bottom: 30px;
  text-align: center;
  line-height: 25px;
}

header {
  background-color: #3e4149;
  color: #fff;
  padding: 15px 0;
}
header .menu, header .settings {
  font-weight: 400;
  letter-spacing: 1.5px;
}
@media (max-width: 800px) {
  header .menu {
    text-align: center;
  }
}
header .brand {
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
  letter-spacing: 2.5px;
}
header .settings {
  text-align: right;
}
@media (max-width: 800px) {
  header .settings {
    text-align: center;
  }
}
@media (max-width: 800px) {
  header .menu, header .brand {
    margin-bottom: 10px;
  }
}

.board-list .board-menu li {
  list-style: none;
  margin-bottom: 10px;
}
.board-list .board-menu li:hover {
  transition: background-color 0.7s ease;
  background-color: #ff9999;
  opacity: 0.7;
}
.board-list .board-menu li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px;
  font-size: 16px;
}
.board-list .boards .board-title {
  margin-bottom: 15px;
}
.board-list .boards .itens {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 800px) {
  .board-list .boards .itens {
    flex-direction: column;
  }
}
.board-list .boards .board {
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .board-list .boards .board {
    width: 100%;
  }
}
.board-list .boards .board a {
  background-color: #ff9999;
  padding: 40px 25px;
  color: #3e4149;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.board-list .boards .board a:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}
