.card-detail{
    width: 800px;

    .title, .section-date, .checklist, .mt-default, .title-section, .checklist-title-section{
        margin-bottom: 25px;
    }

    .title{
        font-size: 24px;        
    }

    .title-section{
        font-size: 16px;
    }

    .btn{        
        width: 100%;        
        margin-bottom: 10px;
    }

    .checklist{

        .checklist-title-section{            
            
            .checklist-title{
                font-size: 16px;
            }

            .mt-default{
                margin-bottom: 0;
            }
        }

        .checklist-destroy, .checklist-item-destroy{
            margin-left: 15px;
        }

        .checklist-item{
            padding: 6px 0;

            &:hover{
                background: #eee;
                cursor: pointer;
            }
            
            .checklist-item-content{
                width: 100%;
            }

            .checklist-item-finished{
                margin-right: 10px;
            }

            .input{
                margin-bottom: 0;
            }            
        }

        .checklist-item-store{
            font-weight: bold;
        }
    }    
}