.card-detail{
    width: 800px;

    .title, .section-date, .checklist, .mt-default, .title-section, .checklist-title-section, .tags, {
        margin-bottom: 25px;
    }

    .title{
        font-size: 24px;        
    }

    .title-section{
        font-size: 16px;
    }

    .btn-actions{
        display: flex;
        flex-direction: row;
        justify-content: start;

        i{
            margin-right: 10px;
        }
    }

    .btn{        
        width: 100%;        
        margin-bottom: 10px;
    }

    .tags{
        display: flex;
        flex-direction: row;       
        flex-wrap: wrap;

        .tag{
            padding: 5px 15px;
            color: #fff;
            margin-right: 10px;
            cursor: pointer;
            margin-bottom: 10px;

            &:hover{
                opacity: .7;
            }
        }
    }

    .checklist{

        .checklist-title-section{            
            
            .checklist-title{
                font-size: 16px;
            }

            .mt-default{
                margin-bottom: 0;
            }
        }

        .checklist-destroy, .checklist-item-destroy{
            margin-left: 15px;
        }

        .checklist-item{
            padding: 6px 0;

            &:hover{
                background: #eee;
                cursor: pointer;
            }
            
            .checklist-item-content{
                width: 100%;
            }

            .checklist-item-finished{
                margin-right: 10px;
            }

            .input{
                margin-bottom: 0;
            }            
        }

        .checklist-item-store{
            font-weight: bold;
        }

        .checklist-total-items{
            margin-right: 10px;
            font-weight: bold;
            letter-spacing: 1.3px;
        }
    }  
    
    .dropdown-tags{
        margin-bottom: 10px;
        display: none;

        .input{
            margin-bottom: 10px;
        }

        .colors{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;

            .input-tag-color:checked{
                color: #fff;
                background-color: #565e64;
                border-color: #51585e;
            }

            .color{
                width: 38px;
                height: 28px;                

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .btn{
            margin-bottom: 0;
        }
    }
}