header {
    background-color: $orange;
    color: #fff;
    padding: 15px 0;

    .menu,
    .settings {
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    .brand {
        font-weight: bold;        
        font-size: 18px;
        letter-spacing: 2.5px;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: all 1s ease;

        &:hover {
            opacity: 0.7;
            transition: all 1s ease;
        }
    }

    .settings {
        text-align: right;

        @media (max-width: 800px) {
            text-align: center;
        }
    }

    @media (max-width: 800px) {
        .menu {
            text-align: center;
        }

        .menu,
        .brand {
            margin-bottom: 10px;
        }
    }
}
