.board-detail{
    margin-top: 20px;
 
    .columns{  
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .column{
            width: 300px;
            background-color: $gray-dark;
            padding: 15px 10px;
            margin-right: 15px;
            height: fit-content;
            
            &:last-child{
                margin-right: 0;
            }

            h3{
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }

            .new-column{
                color: #fff;
                text-decoration: none;
                display: block;        
            }

            .form-new-column{
                display: none;
                margin-top: 15px;
            }

            .form-new-card{
                margin-top: 15px;
            }

            .cards{

                .card{
                    margin-top: 15px;

                    h4{
                        background-color: $gray-light;

                        a{
                            color: #fff;
                            display: block;
                            text-decoration: none;
                            padding: 15px 10px;
                        }
                    }
                }                
            }
        }
    }
}