.board-detail{
    margin-top: 20px;

    .header-board{
        display: flex;

        .title{
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        .form-new-column{
            display: flex;

            .form-field{
                margin-bottom: 0;
            }
        }
    }
 
    .columns{  
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .columns-board{
            display: flex;
            flex-direction: row;
            margin-right: 15px;
        }

        .column{
            width: 300px;
            background-color: $gray-dark;
            padding: 15px 10px;
            margin-right: 15px;
            height: fit-content;

            .column-header{
                display: flex;
                flex-direction: row;

                .column-title{
                    width: 90%;
                    display: flex;
                    align-items: center;

                    h3{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        width: 100%;
                    }

                    input{
                        width: 100%;
                        padding: 10px 15px;
                    }
                }

                .column-actions{
                    width: 10%;
                    color: $gray-light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 19px;
                    padding: 5px 0;
                    cursor: pointer;

                    &:hover{
                        color: $gray-dark;
                        background-color: $gray-light;
                    }
                }
            }
            
            &:last-child{
                margin-right: 0;
            }            

            .new-column{
                color: #fff;
                text-decoration: none;
                display: block;        
            }           

            .form-new-card{
                margin-top: 15px;
            }

            .cards{

                .card{
                    margin-top: 15px;

                    h4{
                        background-color: $gray-light;

                        a{
                            color: #fff;
                            display: block;
                            text-decoration: none;
                            padding: 15px 10px;
                        }
                    }
                }                
            }
        }
    }
}