.card-detail{
    width: 800px;

    .title, .section-date, .checklist, .mt-default{
        margin-bottom: 25px;
    }

    .title{
        font-size: 24px;        
    }

    .title-section{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .btn{        
        width: 100%;        
        margin-bottom: 10px;
    }

    .checklist{

        .checklist-title{
            display: flex;
            justify-content: space-between;
        }

        .checklist-item{
            margin-bottom: 15px;
        }
    }    
}