.login{   

    .brand{
        font-weight: bold;
        text-align: center;
        opacity: 0.7;
        font-size: 48px;
        letter-spacing: 2.5px;
        color: #fff;

        .brand-sub{
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .container-login{
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .access{
        width: 50%;
    }

    .text{
        margin-bottom: 30px;
        text-align: center;
        line-height: 25px;
    }
}