@import "config/fonts";
@import "config/utilities";
@import "config/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    min-height: 100vh;
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#ffffff",GradientType=1);
}

/*
* PAGES
*/

@import "share/header";
@import "page/login";
@import "page/register";
@import "page/config";
@import "page/board-list";
@import "page/board-detail";

/*
* COMPONENTS
*/

@import "components/column";
@import "components/cards";
@import "components/card-detail";
@import "components/tags";
@import "components/checklist";
