@import 'bootstrap';
@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    outline: none;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $gray-light;   
    background: linear-gradient(to right top, $pink-light, $pink-dark);
    min-height: 100vh; 
}

@import 'utilities';
@import 'modal';
@import 'form';
@import 'login';
@import 'header';
@import 'board-list';
@import 'board-detail';
@import 'card-detail';