@import 'variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    outline: none;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $gray-light;
    background-color: $pink-light;
}

@import 'utilities.scss';
@import 'modal.scss';
@import 'form.scss';
@import 'login.scss';
@import 'header.scss';
@import 'board-list.scss';
@import 'board-detail.scss';
@import 'card-detail.scss';