@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(225deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#ffffff",GradientType=1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 100vh;
}

@import "header";
