.vh-100{
    height: 100vh;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.btn{
    border: 1px solid $gray-light;
    padding: 10px 15px;
    background: $gray-light;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2.5px;
    cursor: pointer;

    &:hover{
        opacity: 0.7;
    }
}

.bg-gray-light{
    background-color: $gray-light;
}

.bg-gray-dark{
    background-color: $gray-dark;
}

.no-scroll{
    overflow: hidden;
}

.alert{
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
    padding: 8px 13px;
    border: 1px solid;
    margin-bottom: 10px;

    &.alert-error{
        background-color: $alert-red;
        color: $alert-red;
        border-color: $alert-red-border;
    }

    &.alert-warning{
        background-color: $alert-yellow;
        color: $alert-yellow-text;
        border-color: $alert-yellow-border;
    }

    &.alert-success{
        background-color: $alert-green;
        color: $alert-green-text;
        border-color: $alert-green-border;
    }
}

.dropdown{

    .dropdown-content{
        display: none;
        background: #fff;
        padding: 15px 0px;
        position: absolute;
        z-index: 1;
        min-width: 300px;
        box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);        
        border: 1px solid rgba(9, 30, 66, 0.13);

        .title {
            text-align: center;           
            color: $gray-dark;                        
        }

        .separator{
            border-bottom: 1px solid #eee;
            padding: 0 10px;
            margin: 15px 0;
        }

        ul{
            li{
                list-style: none;
                
                a{
                    color: $gray-dark;
                    text-decoration: none;
                    padding: 10px;
                    display: block;
                    font-weight: bold;

                    &:hover{
                        opacity: 0.7;
                    }

                    &.delete{
                        color: $alert-red-text;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        transition: all 1s ease;

                        &:hover{
                            opacity: 0.7;
                            transition: all 1s ease;
                            background-color: $alert-red;
                            border-top: 1px solid $alert-red-border;
                            border-bottom: 1px solid $alert-red-border;
                        }
                    }
                }
            }
        }
    }
}

.focus-edit-content{
    cursor: pointer;
}