$pink-light: #ffc8c8;
$pink-dark: #ff9999;

$gray-light: #444f5a;
$gray-dark: #3e4149;

$alert-green: #d1e7dd;
$alert-green-text: #0f5132;
$alert-green-border: #badbcc;

$alert-red: #f8d7da;
$alert-red-text: #842029;
$alert-red-border: #f5c2c7;

$alert-yellow: #fff3cd;
$alert-yellow-text: #664d03;
$alert-yellow-border: #ffecb5;