@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-LightItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-Italic.ttf') format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-SemiBold.ttf') format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-SemiBoldItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-BoldItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Open Sans";
    src: url('../../fonts/Open-Sans/OpenSans-BoldItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: 800;
}