*:focus{
    box-shadow: none !important;
}

.form-control{
    font-size: 14px;
    
    &:focus {
        border-color: #ced4da;
    }
}

.btn{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.fancybox-content{
    padding: 31px 16px;
}