.card-detail {
    width: 800px;

    .title {
        font-size: 29.5px;
        font-weight: 300;
    }

    .title-section {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .tag {
            padding: 5px 15px;
            color: #fff;
            cursor: pointer;
            margin-right: 10px;
            // margin-bottom: 10px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .checklist {
        .checklist-title-section {
            .checklist-title {
                font-size: 16px;
            }

            .mt-default {
                margin-bottom: 0;
            }
        }

        .checklist-destroy,
        .checklist-item-destroy {
            margin-left: 15px;
        }

        .checklist-item {
            padding: 6px 0;

            &:hover {
                background: #eee;
                cursor: pointer;
            }

            .checklist-item-content {
                width: 100%;
            }

            .checklist-item-finished {
                margin-right: 10px;
            }

            .input {
                margin-bottom: 0;
            }
        }

        .checklist-item-store {
            font-weight: bold;
        }

        .checklist-total-items {
            margin-right: 10px;
            font-weight: bold;
            letter-spacing: 1.3px;
        }
    }

    .dropdown-tags {
        margin-bottom: 10px;
        display: none;

        .input {
            margin-bottom: 10px;
        }

        .colors {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .input-tag-color:checked {
                color: #fff;
                background-color: #565e64;
                border-color: #51585e;
            }

            .color {
                width: 38px;
                height: 28px;
                margin-bottom: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &.bg-custom {
                    background-color: purple;
                    width: 100%;
                }
            }

            .color-custom {
                width: 100%;
                height: 38px;
                margin-bottom: 10px;
            }
        }

        .btn {
            margin-bottom: 0;
        }
    }

    .actions {
        .btn {
            width: 100%;        
            text-align: left;

            &:last-child {
                margin-bottom: 0;
            }

            i {
                margin-right: 10px;
            }
        }
    }
}
