.card-users {
    display: flex;

    .card-user {
        background-color: #f3f3f3;
        width: 35px;
        height: 35px;
        font-weight: 400;
        font-size: 14px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #eee;
        box-shadow: 1px 1px 1px #eee;
        cursor: pointer;
        transition: all 0.7s ease;

        &:hover {
            opacity: 0.7;
            transition: all 0.7s ease;
        }

        &.remove {
            opacity: 0;
            transition: all 0.7s ease;
        }
    }
}
