.checklist {
    .checklist-title-section {
        .title-checklist {
            width: 100%;
            padding-right: 10px;
        }
        .checklist-title {
            font-size: 16px;
            padding: 8px 0;
            margin-bottom: 0;
            width: 100%;
            cursor: pointer;
        }
    }

    .checklist-destroy,
    .checklist-item-destroy {
        margin-left: 15px;
    }

    .checklist-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .checklist-item-content {
            display: flex;
            align-items: center;
            width: 100%;
            padding-right: 10px;
            height: 35px;

            .checklist-item-text {
                cursor: pointer;
                width: 100%;
            }
        }

        &:hover {
            background-color: $beige;
        }
    }

    .dropdown {
        button {
            background: none;
            border: none;
        }

        .dropdown-item {
            font-size: 12px;
        }
    }

    .checklist-total-items {
        font-weight: bold;
        letter-spacing: 1.3px;
        padding-right: 10px;
    }
}
