.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tag {
        padding: 2px 11px;
        color: #fff;
        cursor: pointer;
        margin-right: 5px;
        font-size: 12px;
        border-radius: 14px;
        font-weight: 600;
        height: 22px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}